.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin-bottom: 93px;
}
/* nav bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45;
}
.rcolor{
    color: #FD6E0A;
}
nav ul{
    display: flex;
   align-items: center;
}
nav ul li{
    margin: 51px;
    list-style: none;
}
.dark2{
    color: #474747;
}
nav ul li a{
    text-decoration: none;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 18px 36px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    border: none;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
  
}
.banner-contant{
    max-width: 585px ;
    margin: 261px 678px 220px 337px;
    
}
.
.banner-profile-img{
    height: 979px;
    width: 584px;
}
 .cart{
   background-color: #f7ddcb; 
   /* width: 1263px; height: 553px; */
   margin: 0px 200px;
   border-radius: 10px;
   padding: 132px 220px 132px 220px;
   gap: 30px;
   margin-bottom: 200px;
   word-wrap: inherit;
 }   
 .cart-cont{
    border: 2px solid black;
    /* align-items: center;
    justify-content: center; */
    text-align: center;
 }
 
 .cart-adress{
    display: flex;
    justify-content: space-between;
 }